

#container {
    display: none;
    flex-direction: column;
    align-items: center;
}


#data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#team {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.title_flex {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.data_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data_case {
    width: 70%;
    font-size: 2em;
}


#team_home{
   
}

.logo_team{
    display: block;
    width : 150px;
    height: 150px;
}

.border{
    border: 1px solid black;
}

.team_name{
    font-size : 2em;
    text-align: center;
}

.score{
    font-size: 3em;
    text-align: center;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#score_home, #score_away{
    font-size: 1.5em;
}

.minus{
    font-size: 4.6em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#duel{
    display: none;
}

#chrono,#scorer{
    width:25%;
    border : 1px solid black
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#home_team,#away_team{
    width:45%;
}

#home_logo_team,#away_logo_team{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex_glob{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}

.button{
    width:15%;
    border : 1px solid black;
    font-size: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}