.score {
    font-size: 7vw;
}

#data{
    widows: 95%;
}

.logo_team {
    width: 80%;
    height: 80%;
}

.team_name {
    font-size: 4vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
}

#chrono{
    position:absolute;
    top: 9%;
    right: 60%;   
    width: 20%;
}

#timer{
    font-size: 6vw;
}

#timer_btn {
    font-size: 5vw;
    justify-content: space-around;
    width: 100%;
}

#data{
    width: 100%;
    top:20%;
}

.flex_glob{
    width: 95%;
    margin-top: 4%;
}

.data_case {
    font-size: 4vw;
}

#periode {
    font-size: 3vw;
}

.minus {
    font-size: 6vw;
}

.scorer_list {
    font-size: 3vw;
}

#team{
    width:55%
}

.button{
    font-size: 10vw;
}

#myModal {
    border: 3px solid black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    color: #F37022;
}

.modal-content {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 7vw;
    padding: 0;
}

.close{
    left: 86%;
    top: 0%;
}