body{
    font-size: 2.5vw;
}

#blocpage{
    height: 100vh;
}


.logo_team {
    width: 60%;
    height: 60%;
}

.data_btn{
    color: black;
    font : 2.2vh bold;
}

.data_txt{
    font-size: 1.8vh;
}


.flex_glob{
    width: 60%;
}


.data_btn{
    font-size: 5vh;
}

.team_name {
    font-size: 2.8vh;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score {
    font-size: 5vw;
}

.minus {
    font-size: 5vw;
}

#periode {
    font-size: 2vh;
}

#timer {
    font-size: 5.5vh;
}

#timer_btn {
    font-size: 3vh;
}

.flex_glob {
    width: 75%;
}

.data_flex {
    font-size: 2.4vh;
}

#myModal {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.close {
    font-size: 2vh;
}

.scorer_list {
    font-size: 2vh;
}